USE [scheduleInterview]
GO
/****** Object:  Table [dbo].[CandidateDetails]    Script Date: 14-06-2018 20:00:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CandidateDetails](
	[CandidateId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](31) NULL,
	[LastName] [varchar](31) NULL,
	[Email] [varchar](31) NULL,
	[DesignationId] [int] NOT NULL,
	[AppliedFor] [int] NOT NULL,
	[ContactNumber] [varchar](15) NULL,
	[Address] [varchar](255) NULL,
	[Experience] [varchar](50) NULL,
	[CurrentCtc] [varchar](20) NULL,
	[ExpectedCtc] [varchar](20) NULL,
	[CurrentCompany] [varchar](31) NULL,
	[NoticePeriod] [varchar](50) NULL,
	[ResumePath] [varchar](31) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [int] NOT NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_CandidateDetails] PRIMARY KEY CLUSTERED 
(
	[CandidateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CandidateSkills]    Script Date: 14-06-2018 20:00:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CandidateSkills](
	[CandidateSkillId] [int] IDENTITY(1,1) NOT NULL,
	[CandidateId] [int] NOT NULL,
	[SkillId] [int] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [int] NOT NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_CandidateSkills] PRIMARY KEY CLUSTERED 
(
	[CandidateSkillId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ControlFields]    Script Date: 14-06-2018 20:00:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ControlFields](
	[ControlId] [int] IDENTITY(1,1) NOT NULL,
	[LabelName] [varchar](15) NULL,
	[ControlTypeId] [int] NOT NULL,
	[ClassName] [varchar](15) NULL,
	[CreateDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[PageId] [int] NOT NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_ControlFields] PRIMARY KEY CLUSTERED 
(
	[ControlId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DefaultValues]    Script Date: 14-06-2018 20:00:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DefaultValues](
	[DefaultValueId] [int] IDENTITY(1,1) NOT NULL,
	[DefaultValue] [varchar](31) NULL,
	[OptionalLabel] [varchar](15) NULL,
	[FieldId] [int] NOT NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_DefaultValues] PRIMARY KEY CLUSTERED 
(
	[DefaultValueId] ASC,
	[FieldId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Designation]    Script Date: 14-06-2018 20:00:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Designation](
	[DesignationId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](31) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_Designation] PRIMARY KEY CLUSTERED 
(
	[DesignationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FieldControlTypes]    Script Date: 14-06-2018 20:00:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FieldControlTypes](
	[ControlTypeId] [int] IDENTITY(1,1) NOT NULL,
	[ControlType] [varchar](15) NULL,
	[Createddate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_FieldControlTypes] PRIMARY KEY CLUSTERED 
(
	[ControlTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fields]    Script Date: 14-06-2018 20:00:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fields](
	[FieldId] [int] IDENTITY(1,1) NOT NULL,
	[ControlId] [int] NOT NULL,
	[TypeId] [int] NOT NULL,
	[ExpId] [int] NOT NULL,
	[FieldName] [varchar](15) NOT NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_Fields] PRIMARY KEY CLUSTERED 
(
	[FieldId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FieldTypes]    Script Date: 14-06-2018 20:00:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FieldTypes](
	[TypeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](15) NULL,
	[MultiValue] [bit] NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_FieldTypes] PRIMARY KEY CLUSTERED 
(
	[TypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FieldValues]    Script Date: 14-06-2018 20:00:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FieldValues](
	[ValueId] [int] IDENTITY(1,1) NOT NULL,
	[DefaultValueId] [int] NOT NULL,
	[Values] [varchar](255) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[FieldId] [int] NOT NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_FieldValues] PRIMARY KEY CLUSTERED 
(
	[ValueId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Filter]    Script Date: 14-06-2018 20:00:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Filter](
	[FilterId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](31) NULL,
	[PageId] [int] NOT NULL,
	[Active] [bit] NULL,
	[CreatedDate] [datetime] NULL,
	[Modifieddate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[ModifiedBy] [int] NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_Filter] PRIMARY KEY CLUSTERED 
(
	[FilterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InterviewRounds]    Script Date: 14-06-2018 20:00:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InterviewRounds](
	[InterviewRoundId] [int] IDENTITY(1,1) NOT NULL,
	[JobId] [int] NOT NULL,
	[InterviewTypeId] [int] NOT NULL,
	[Status] [int] NULL,
	[round_order] [int] NULL,
 CONSTRAINT [PK_InterviewRounds] PRIMARY KEY CLUSTERED 
(
	[InterviewRoundId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InterviewSkills]    Script Date: 14-06-2018 20:00:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InterviewSkills](
	[InterviewSkillsId] [int] IDENTITY(1,1) NOT NULL,
	[InterviewRoundId] [int] NOT NULL,
	[SkillId] [int] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_InterviewSkills] PRIMARY KEY CLUSTERED 
(
	[InterviewSkillsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InterviewTypes]    Script Date: 14-06-2018 20:00:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InterviewTypes](
	[InterviewTypeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](31) NULL,
	[Description] [varchar](127) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[ModifiedBy] [int] NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_InterviewTypes] PRIMARY KEY CLUSTERED 
(
	[InterviewTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobVacancy]    Script Date: 14-06-2018 20:00:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobVacancy](
	[JobVacancyId] [int] IDENTITY(1,1) NOT NULL,
	[JobPosition] [varchar](31) NULL,
	[JobCode] [varchar](50) NULL,
	[JobDescription] [varchar](255) NULL,
	[JobResponsibilty] [varchar](255) NULL,
	[Vacancy] [varchar](50) NULL,
	[StartDate] [varchar](50) NULL,
	[EndDate] [varchar](50) NOT NULL,
	[CreatedDate] [varchar](50) NULL,
	[ModifiedDate] [varchar](50) NULL,
	[CreatedBy] [int] NULL,
	[ModifiedBy] [int] NULL,
	[Status] [int] NULL,
	[rounds] [varchar](50) NULL,
 CONSTRAINT [PK_JobVacancy] PRIMARY KEY CLUSTERED 
(
	[JobVacancyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pages]    Script Date: 14-06-2018 20:00:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pages](
	[PageId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](15) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_Pages] PRIMARY KEY CLUSTERED 
(
	[PageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Panel]    Script Date: 14-06-2018 20:00:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Panel](
	[PanelId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](31) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_Panel] PRIMARY KEY CLUSTERED 
(
	[PanelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PanelMembers]    Script Date: 14-06-2018 20:00:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PanelMembers](
	[PanelMemberId] [int] IDENTITY(1,1) NOT NULL,
	[PanelId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_PanelMembers] PRIMARY KEY CLUSTERED 
(
	[PanelMemberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RateSkills]    Script Date: 14-06-2018 20:00:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RateSkills](
	[RateId] [int] IDENTITY(1,1) NOT NULL,
	[ReviewId] [int] NOT NULL,
	[SkillId] [int] NOT NULL,
	[Score] [varchar](2) NULL,
	[CreatedDate] [varchar](50) NULL,
	[ModifiedDate] [varchar](50) NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_RateSkills] PRIMARY KEY CLUSTERED 
(
	[RateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RegularExpressions]    Script Date: 14-06-2018 20:00:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegularExpressions](
	[ExpId] [int] IDENTITY(1,1) NOT NULL,
	[ControlId] [int] NULL,
	[Expression] [varchar](63) NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_RegularExpressions] PRIMARY KEY CLUSTERED 
(
	[ExpId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Review]    Script Date: 14-06-2018 20:00:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Review](
	[ReviewId] [int] IDENTITY(1,1) NOT NULL,
	[ScheduleId] [int] NOT NULL,
	[StatusId] [int] NOT NULL,
	[ReviewedBy] [int] NOT NULL,
	[Comments] [varchar](255) NULL,
	[CreatedDate] [varchar](50) NULL,
	[CreatedBy] [int] NULL,
	[ModifiedDate] [varchar](50) NULL,
	[ModifiedBy] [int] NULL,
 CONSTRAINT [PK_Review] PRIMARY KEY CLUSTERED 
(
	[ReviewId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 14-06-2018 20:00:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [varchar](15) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Schedule]    Script Date: 14-06-2018 20:00:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Schedule](
	[ScheduleId] [int] IDENTITY(1,1) NOT NULL,
	[CandidateId] [int] NOT NULL,
	[InterviewRoundId] [int] NOT NULL,
	[ScheduleDate] [varchar](50) NULL,
	[ScheduleTime] [varchar](50) NULL,
	[PanelId] [int] NOT NULL,
	[CreatedDate] [varchar](50) NULL,
	[ModifiedDate] [varchar](50) NULL,
	[Status] [int] NULL,
	[Final_Round] [int] NULL,
	[Total_Mark] [nchar](10) NULL,
	[Final_Result] [int] NULL,
	[Current_Status] [int] NULL,
	[next_schdule_status] [int] NULL,
 CONSTRAINT [PK_Schedule] PRIMARY KEY CLUSTERED 
(
	[ScheduleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Skills]    Script Date: 14-06-2018 20:00:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Skills](
	[SkillId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](31) NULL,
	[CreateDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_Skills] PRIMARY KEY CLUSTERED 
(
	[SkillId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 14-06-2018 20:00:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[StatusId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](15) NULL,
	[CreateDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[Active] [int] NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[StatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAccount]    Script Date: 14-06-2018 20:00:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAccount](
	[Account_Id] [int] IDENTITY(1,1) NOT NULL,
	[Account_Name] [varchar](1) NULL,
	[Account_Address1] [varchar](1) NULL,
 CONSTRAINT [PK_TAccount] PRIMARY KEY CLUSTERED 
(
	[Account_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserDetails]    Script Date: 14-06-2018 20:00:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserDetails](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](31) NULL,
	[LastName] [varchar](31) NULL,
	[Email] [varchar](31) NULL,
	[DesignationId] [int] NOT NULL,
	[ContactNumber] [varchar](15) NULL,
	[UserName] [varchar](31) NULL,
	[Password] [varchar](100) NULL,
	[RoleId] [int] NOT NULL,
	[CreateDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_UserDetails] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CandidateDetails] ON 

GO
SET IDENTITY_INSERT [dbo].[CandidateDetails] OFF
SET IDENTITY_INSERT [dbo].[CandidateSkills] ON 

INSERT [dbo].[CandidateSkills] ([CandidateSkillId], [CandidateId], [SkillId], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [Status]) VALUES (4, 79, 1, CAST(N'2018-05-30T17:49:48.047' AS DateTime), 7, CAST(N'2018-05-30T17:49:48.047' AS DateTime), 7, 1)
INSERT [dbo].[CandidateSkills] ([CandidateSkillId], [CandidateId], [SkillId], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [Status]) VALUES (5, 79, 2, CAST(N'2018-05-30T17:49:48.047' AS DateTime), 7, CAST(N'2018-05-30T17:49:48.047' AS DateTime), 7, 1)
INSERT [dbo].[CandidateSkills] ([CandidateSkillId], [CandidateId], [SkillId], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [Status]) VALUES (6, 80, 2, CAST(N'2018-05-30T17:50:23.023' AS DateTime), 7, CAST(N'2018-05-30T17:50:23.023' AS DateTime), 7, 1)
SET IDENTITY_INSERT [dbo].[CandidateSkills] OFF
SET IDENTITY_INSERT [dbo].[Designation] ON 

INSERT [dbo].[Designation] ([DesignationId], [Name], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [Status]) VALUES (1, N'TL_coldfusion', CAST(N'2012-12-11T00:00:00.000' AS DateTime), 1, CAST(N'2012-12-12T00:00:00.000' AS DateTime), 1, 1)
SET IDENTITY_INSERT [dbo].[Designation] OFF
SET IDENTITY_INSERT [dbo].[InterviewRounds] ON 

INSERT [dbo].[InterviewRounds] ([InterviewRoundId], [JobId], [InterviewTypeId], [Status], [round_order]) VALUES (85743, 59, 3, 1, 1)
INSERT [dbo].[InterviewRounds] ([InterviewRoundId], [JobId], [InterviewTypeId], [Status], [round_order]) VALUES (85744, 59, 1, 1, 2)
INSERT [dbo].[InterviewRounds] ([InterviewRoundId], [JobId], [InterviewTypeId], [Status], [round_order]) VALUES (85745, 59, 1, 1, 3)
SET IDENTITY_INSERT [dbo].[InterviewRounds] OFF
SET IDENTITY_INSERT [dbo].[InterviewSkills] ON 

INSERT [dbo].[InterviewSkills] ([InterviewSkillsId], [InterviewRoundId], [SkillId], [CreatedDate], [ModifiedDate], [Status]) VALUES (85736, 85743, 1, CAST(N'2018-06-08T16:44:47.047' AS DateTime), CAST(N'2018-06-08T16:44:47.047' AS DateTime), 1)
INSERT [dbo].[InterviewSkills] ([InterviewSkillsId], [InterviewRoundId], [SkillId], [CreatedDate], [ModifiedDate], [Status]) VALUES (85737, 85743, 2, CAST(N'2018-06-08T16:44:47.047' AS DateTime), CAST(N'2018-06-08T16:44:47.047' AS DateTime), 1)
INSERT [dbo].[InterviewSkills] ([InterviewSkillsId], [InterviewRoundId], [SkillId], [CreatedDate], [ModifiedDate], [Status]) VALUES (85738, 85744, 2, CAST(N'2018-06-08T16:44:47.047' AS DateTime), CAST(N'2018-06-08T16:44:47.047' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[InterviewSkills] OFF
SET IDENTITY_INSERT [dbo].[InterviewTypes] ON 

INSERT [dbo].[InterviewTypes] ([InterviewTypeId], [Name], [Description], [CreatedDate], [ModifiedDate], [CreatedBy], [ModifiedBy], [Status]) VALUES (1, N'Aptitude', N'Aptitude', CAST(N'2012-12-12T00:00:00.000' AS DateTime), CAST(N'2012-12-12T00:00:00.000' AS DateTime), 1, 1, 1)
INSERT [dbo].[InterviewTypes] ([InterviewTypeId], [Name], [Description], [CreatedDate], [ModifiedDate], [CreatedBy], [ModifiedBy], [Status]) VALUES (2, N'Machine Test', N'Coldfusion', CAST(N'2012-12-12T00:00:00.000' AS DateTime), CAST(N'2012-12-12T00:00:00.000' AS DateTime), 1, 1, 1)
INSERT [dbo].[InterviewTypes] ([InterviewTypeId], [Name], [Description], [CreatedDate], [ModifiedDate], [CreatedBy], [ModifiedBy], [Status]) VALUES (3, N'Technical Interview', N'Technical Interview', CAST(N'2012-12-12T00:00:00.000' AS DateTime), CAST(N'2012-12-12T00:00:00.000' AS DateTime), 1, 1, 1)
SET IDENTITY_INSERT [dbo].[InterviewTypes] OFF
SET IDENTITY_INSERT [dbo].[JobVacancy] ON 

INSERT [dbo].[JobVacancy] ([JobVacancyId], [JobPosition], [JobCode], [JobDescription], [JobResponsibilty], [Vacancy], [StartDate], [EndDate], [CreatedDate], [ModifiedDate], [CreatedBy], [ModifiedBy], [Status], [rounds]) VALUES (2, N'coldfusion', N'cf', N'cfs', N'sdsd', N'4', N'21/06/2018', N'29/06/2018', N'Dec 12 2012 12:00AM', N'2018-06-14 15:23:31.031', 1, 7, 1, N'3')
INSERT [dbo].[JobVacancy] ([JobVacancyId], [JobPosition], [JobCode], [JobDescription], [JobResponsibilty], [Vacancy], [StartDate], [EndDate], [CreatedDate], [ModifiedDate], [CreatedBy], [ModifiedBy], [Status], [rounds]) VALUES (5, N'Possimus ut quae quod ', N'Atqu', N'Molestiae sequi ipsa et Nam pariatur', N'Magna odio ab amet id enim dolor consequatur dolor molestias amet adipisicing expedita possimus earum nemo recusandae Molestias nulla doloribus', N'45', N'21/06/2018', N'29/06/2018', N'2018-06-07 17:04:06.006', N'2018-06-12 11:16:36.036', 7, 7, 1, N'2')
INSERT [dbo].[JobVacancy] ([JobVacancyId], [JobPosition], [JobCode], [JobDescription], [JobResponsibilty], [Vacancy], [StartDate], [EndDate], [CreatedDate], [ModifiedDate], [CreatedBy], [ModifiedBy], [Status], [rounds]) VALUES (6, N'In id vol', N'Qui exc', N'Nisi doloremque fugiat sequi id ullamco alias', N'Voluptas omnis quis temporibus quis autem aliquam unde dolores excepturi sed culpa', N'7', N'07/06/2018', N'22/06/2018', N'2018-06-07 17:35:18.018', N'2018-06-12 11:16:46.046', 7, 7, 1, N'2')
SET IDENTITY_INSERT [dbo].[JobVacancy] OFF
SET IDENTITY_INSERT [dbo].[Panel] ON 

INSERT [dbo].[Panel] ([PanelId], [Name], [CreatedDate], [ModifiedDate], [Status]) VALUES (29, N'Coldfusion', CAST(N'2018-06-05T15:14:08.007' AS DateTime), CAST(N'2018-06-05T15:44:23.023' AS DateTime), 1)
INSERT [dbo].[Panel] ([PanelId], [Name], [CreatedDate], [ModifiedDate], [Status]) VALUES (30, N'sdsd', CAST(N'2018-06-05T15:14:08.007' AS DateTime), CAST(N'2018-06-05T15:14:08.007' AS DateTime), 1)
INSERT [dbo].[Panel] ([PanelId], [Name], [CreatedDate], [ModifiedDate], [Status]) VALUES (31, N'sdsd', CAST(N'2018-06-05T15:15:04.003' AS DateTime), CAST(N'2018-06-05T15:15:04.003' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Panel] OFF
SET IDENTITY_INSERT [dbo].[PanelMembers] ON 

INSERT [dbo].[PanelMembers] ([PanelMemberId], [PanelId], [UserId], [CreatedDate], [ModifiedDate], [Status]) VALUES (2, 29, 12, CAST(N'2018-06-06T16:13:50.050' AS DateTime), NULL, 0)
INSERT [dbo].[PanelMembers] ([PanelMemberId], [PanelId], [UserId], [CreatedDate], [ModifiedDate], [Status]) VALUES (8, 29, 9, CAST(N'2018-06-06T18:01:55.057' AS DateTime), NULL, 0)
INSERT [dbo].[PanelMembers] ([PanelMemberId], [PanelId], [UserId], [CreatedDate], [ModifiedDate], [Status]) VALUES (9, 29, 10, CAST(N'2018-06-06T18:08:20.020' AS DateTime), NULL, 0)
SET IDENTITY_INSERT [dbo].[PanelMembers] OFF
SET IDENTITY_INSERT [dbo].[RateSkills] ON 

INSERT [dbo].[RateSkills] ([RateId], [ReviewId], [SkillId], [Score], [CreatedDate], [ModifiedDate], [Status]) VALUES (18, 14, 1, N'3', N'2018-06-14 16:16:22.022', N'2018-06-14 16:16:22.022', 1)
INSERT [dbo].[RateSkills] ([RateId], [ReviewId], [SkillId], [Score], [CreatedDate], [ModifiedDate], [Status]) VALUES (19, 15, 1, N'6', N'2018-06-14 16:17:13.013', N'2018-06-14 16:17:13.013', 1)
INSERT [dbo].[RateSkills] ([RateId], [ReviewId], [SkillId], [Score], [CreatedDate], [ModifiedDate], [Status]) VALUES (20, 15, 2, N'7', N'2018-06-14 16:17:13.013', N'2018-06-14 16:17:13.013', 1)
SET IDENTITY_INSERT [dbo].[RateSkills] OFF
SET IDENTITY_INSERT [dbo].[Review] ON 

INSERT [dbo].[Review] ([ReviewId], [ScheduleId], [StatusId], [ReviewedBy], [Comments], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy]) VALUES (14, 24, 1, 15, N'ss', N'2018-06-14 16:16:22.022', 15, N'2018-06-14 16:16:22.022', 15)
INSERT [dbo].[Review] ([ReviewId], [ScheduleId], [StatusId], [ReviewedBy], [Comments], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy]) VALUES (15, 25, 1, 15, N'ssd', N'2018-06-14 16:17:13.013', 15, N'2018-06-14 16:17:13.013', 15)
SET IDENTITY_INSERT [dbo].[Review] OFF
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleId], [RoleName], [CreatedDate], [ModifiedDate], [Status]) VALUES (1, N'admin', CAST(N'2012-12-12T00:00:00.000' AS DateTime), CAST(N'2012-12-12T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Roles] ([RoleId], [RoleName], [CreatedDate], [ModifiedDate], [Status]) VALUES (2, N'users', CAST(N'2012-12-12T00:00:00.000' AS DateTime), CAST(N'2012-12-12T00:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Roles] OFF
SET IDENTITY_INSERT [dbo].[Schedule] ON 

INSERT [dbo].[Schedule] ([ScheduleId], [CandidateId], [InterviewRoundId], [ScheduleDate], [ScheduleTime], [PanelId], [CreatedDate], [ModifiedDate], [Status], [Final_Round], [Total_Mark], [Final_Result], [Current_Status], [next_schdule_status]) VALUES (24, 448, 85777, N'22/06/2018', N'16:15', 29, N'2018-06-14 16:15:37.037', N'2018-06-14 16:16:35.035', 1, 0, N'0         ', 0, 2, 0)
INSERT [dbo].[Schedule] ([ScheduleId], [CandidateId], [InterviewRoundId], [ScheduleDate], [ScheduleTime], [PanelId], [CreatedDate], [ModifiedDate], [Status], [Final_Round], [Total_Mark], [Final_Result], [Current_Status], [next_schdule_status]) VALUES (25, 448, 85780, N'14/06/2018', N'16:16', 29, N'2018-06-14 16:16:53.053', N'2018-06-14 16:17:26.026', 1, 1, N'6.5       ', 2, 2, 0)
SET IDENTITY_INSERT [dbo].[Schedule] OFF
SET IDENTITY_INSERT [dbo].[Skills] ON 

INSERT [dbo].[Skills] ([SkillId], [Name], [CreateDate], [ModifiedDate], [Status]) VALUES (1, N'html', CAST(N'2011-11-11T00:00:00.000' AS DateTime), CAST(N'2011-11-11T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Skills] ([SkillId], [Name], [CreateDate], [ModifiedDate], [Status]) VALUES (2, N'csss', CAST(N'2011-11-11T00:00:00.000' AS DateTime), CAST(N'2011-11-11T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Skills] ([SkillId], [Name], [CreateDate], [ModifiedDate], [Status]) VALUES (3, N'Analytics', CAST(N'2012-12-12T00:00:00.000' AS DateTime), CAST(N'2012-12-12T00:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Skills] OFF
SET IDENTITY_INSERT [dbo].[Status] ON 

INSERT [dbo].[Status] ([StatusId], [Title], [CreateDate], [ModifiedDate], [Active]) VALUES (1, N'OnHold', CAST(N'2012-12-12T00:00:00.000' AS DateTime), CAST(N'2012-12-12T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Status] ([StatusId], [Title], [CreateDate], [ModifiedDate], [Active]) VALUES (2, N'Selected', CAST(N'2012-12-12T00:00:00.000' AS DateTime), CAST(N'2012-12-12T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Status] ([StatusId], [Title], [CreateDate], [ModifiedDate], [Active]) VALUES (3, N'Rejected', CAST(N'2012-12-12T00:00:00.000' AS DateTime), CAST(N'2012-12-12T00:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Status] OFF
SET IDENTITY_INSERT [dbo].[TAccount] ON 

INSERT [dbo].[TAccount] ([Account_Id], [Account_Name], [Account_Address1]) VALUES (3, N'2', N'2')
INSERT [dbo].[TAccount] ([Account_Id], [Account_Name], [Account_Address1]) VALUES (4, N'3', N'2')
INSERT [dbo].[TAccount] ([Account_Id], [Account_Name], [Account_Address1]) VALUES (5, N'a', N's')
GO
SET IDENTITY_INSERT [dbo].[TAccount] OFF
SET IDENTITY_INSERT [dbo].[UserDetails] ON 

INSERT [dbo].[UserDetails] ([UserId], [FirstName], [LastName], [Email], [DesignationId], [ContactNumber], [UserName], [Password], [RoleId], [CreateDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [Status]) VALUES (7, N'admin', N'admin', N'admin@gmail.com', 1, N'948712321', N'admin', N'21232F297A57A5A743894A0E4A801FC3', 1, CAST(N'2012-12-12T00:00:00.000' AS DateTime), 1, CAST(N'2012-12-12T00:00:00.000' AS DateTime), 1, 1)
INSERT [dbo].[UserDetails] ([UserId], [FirstName], [LastName], [Email], [DesignationId], [ContactNumber], [UserName], [Password], [RoleId], [CreateDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [Status]) VALUES (8, N'Paul', N'Maddox', N'radatikaqy@mailinator.com', 1, N'+119-55-4622816', N'cyvapebude', N'412F09994C17BBB56CC4435CFF8E625B', 2, CAST(N'2018-06-05T17:52:50.050' AS DateTime), 7, CAST(N'2018-06-05T21:26:01.000' AS DateTime), 7, 0)
INSERT [dbo].[UserDetails] ([UserId], [FirstName], [LastName], [Email], [DesignationId], [ContactNumber], [UserName], [Password], [RoleId], [CreateDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [Status]) VALUES (9, N'Garths', N'Stephens', N'kykasugax@mailinator.net', 1, N'+336-54-8269272', N'dunohyviss', N'F3ED11BBDB94FD9EBDEFBAF646AB94D3', 2, CAST(N'2018-06-05T17:56:17.017' AS DateTime), 7, CAST(N'2018-06-12T11:26:51.050' AS DateTime), 7, 1)
SET IDENTITY_INSERT [dbo].[UserDetails] OFF
ALTER TABLE [dbo].[Schedule] ADD  CONSTRAINT [DF_Schedule_next_schdule_status]  DEFAULT ((0)) FOR [next_schdule_status]
GO
ALTER TABLE [dbo].[CandidateDetails]  WITH CHECK ADD  CONSTRAINT [Designation_CandidateDetails] FOREIGN KEY([DesignationId])
REFERENCES [dbo].[Designation] ([DesignationId])
GO
ALTER TABLE [dbo].[CandidateDetails] CHECK CONSTRAINT [Designation_CandidateDetails]
GO
ALTER TABLE [dbo].[CandidateDetails]  WITH CHECK ADD  CONSTRAINT [JobVacancy_CandidateDetails] FOREIGN KEY([AppliedFor])
REFERENCES [dbo].[JobVacancy] ([JobVacancyId])
GO
ALTER TABLE [dbo].[CandidateDetails] CHECK CONSTRAINT [JobVacancy_CandidateDetails]
GO
ALTER TABLE [dbo].[CandidateDetails]  WITH CHECK ADD  CONSTRAINT [UserDetails_CandidateDetails] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[UserDetails] ([UserId])
GO
ALTER TABLE [dbo].[CandidateDetails] CHECK CONSTRAINT [UserDetails_CandidateDetails]
GO
ALTER TABLE [dbo].[CandidateSkills]  WITH CHECK ADD  CONSTRAINT [CandidateDetails_CandidateSkills] FOREIGN KEY([CandidateId])
REFERENCES [dbo].[CandidateDetails] ([CandidateId])
GO
ALTER TABLE [dbo].[CandidateSkills] CHECK CONSTRAINT [CandidateDetails_CandidateSkills]
GO
ALTER TABLE [dbo].[CandidateSkills]  WITH CHECK ADD  CONSTRAINT [Skills_CandidateSkills] FOREIGN KEY([SkillId])
REFERENCES [dbo].[Skills] ([SkillId])
GO
ALTER TABLE [dbo].[CandidateSkills] CHECK CONSTRAINT [Skills_CandidateSkills]
GO
ALTER TABLE [dbo].[CandidateSkills]  WITH CHECK ADD  CONSTRAINT [UserDetails_CandidateSkills] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[UserDetails] ([UserId])
GO
ALTER TABLE [dbo].[CandidateSkills] CHECK CONSTRAINT [UserDetails_CandidateSkills]
GO
ALTER TABLE [dbo].[ControlFields]  WITH CHECK ADD  CONSTRAINT [FieldControlTypes_ControlFields] FOREIGN KEY([ControlTypeId])
REFERENCES [dbo].[FieldControlTypes] ([ControlTypeId])
GO
ALTER TABLE [dbo].[ControlFields] CHECK CONSTRAINT [FieldControlTypes_ControlFields]
GO
ALTER TABLE [dbo].[ControlFields]  WITH CHECK ADD  CONSTRAINT [Pages_ControlFields] FOREIGN KEY([PageId])
REFERENCES [dbo].[Pages] ([PageId])
GO
ALTER TABLE [dbo].[ControlFields] CHECK CONSTRAINT [Pages_ControlFields]
GO
ALTER TABLE [dbo].[DefaultValues]  WITH CHECK ADD  CONSTRAINT [Fields_DefaultValues] FOREIGN KEY([FieldId])
REFERENCES [dbo].[Fields] ([FieldId])
GO
ALTER TABLE [dbo].[DefaultValues] CHECK CONSTRAINT [Fields_DefaultValues]
GO
ALTER TABLE [dbo].[Fields]  WITH CHECK ADD  CONSTRAINT [ControlFields_Fields] FOREIGN KEY([ControlId])
REFERENCES [dbo].[ControlFields] ([ControlId])
GO
ALTER TABLE [dbo].[Fields] CHECK CONSTRAINT [ControlFields_Fields]
GO
ALTER TABLE [dbo].[Fields]  WITH CHECK ADD  CONSTRAINT [FieldTypes_Fields] FOREIGN KEY([TypeId])
REFERENCES [dbo].[FieldTypes] ([TypeId])
GO
ALTER TABLE [dbo].[Fields] CHECK CONSTRAINT [FieldTypes_Fields]
GO
ALTER TABLE [dbo].[Fields]  WITH CHECK ADD  CONSTRAINT [RegularExpressions_Fields] FOREIGN KEY([ExpId])
REFERENCES [dbo].[RegularExpressions] ([ExpId])
GO
ALTER TABLE [dbo].[Fields] CHECK CONSTRAINT [RegularExpressions_Fields]
GO
ALTER TABLE [dbo].[FieldValues]  WITH CHECK ADD  CONSTRAINT [DefaultValues_FieldValues] FOREIGN KEY([DefaultValueId], [FieldId])
REFERENCES [dbo].[DefaultValues] ([DefaultValueId], [FieldId])
GO
ALTER TABLE [dbo].[FieldValues] CHECK CONSTRAINT [DefaultValues_FieldValues]
GO
ALTER TABLE [dbo].[Filter]  WITH CHECK ADD  CONSTRAINT [Pages_Filter] FOREIGN KEY([PageId])
REFERENCES [dbo].[Pages] ([PageId])
GO
ALTER TABLE [dbo].[Filter] CHECK CONSTRAINT [Pages_Filter]
GO
ALTER TABLE [dbo].[InterviewRounds]  WITH CHECK ADD  CONSTRAINT [InterviewTypes_InterviewRounds] FOREIGN KEY([InterviewTypeId])
REFERENCES [dbo].[InterviewTypes] ([InterviewTypeId])
GO
ALTER TABLE [dbo].[InterviewRounds] CHECK CONSTRAINT [InterviewTypes_InterviewRounds]
GO
ALTER TABLE [dbo].[InterviewRounds]  WITH CHECK ADD  CONSTRAINT [JobVacancy_InterviewRounds] FOREIGN KEY([JobId])
REFERENCES [dbo].[JobVacancy] ([JobVacancyId])
GO
ALTER TABLE [dbo].[InterviewRounds] CHECK CONSTRAINT [JobVacancy_InterviewRounds]
GO
ALTER TABLE [dbo].[InterviewSkills]  WITH CHECK ADD  CONSTRAINT [InterviewRounds_InterviewSkills] FOREIGN KEY([InterviewRoundId])
REFERENCES [dbo].[InterviewRounds] ([InterviewRoundId])
GO
ALTER TABLE [dbo].[InterviewSkills] CHECK CONSTRAINT [InterviewRounds_InterviewSkills]
GO
ALTER TABLE [dbo].[InterviewSkills]  WITH CHECK ADD  CONSTRAINT [Skills_InterviewSkills] FOREIGN KEY([SkillId])
REFERENCES [dbo].[Skills] ([SkillId])
GO
ALTER TABLE [dbo].[InterviewSkills] CHECK CONSTRAINT [Skills_InterviewSkills]
GO
ALTER TABLE [dbo].[PanelMembers]  WITH CHECK ADD  CONSTRAINT [Panel_PanelMembers] FOREIGN KEY([PanelId])
REFERENCES [dbo].[Panel] ([PanelId])
GO
ALTER TABLE [dbo].[PanelMembers] CHECK CONSTRAINT [Panel_PanelMembers]
GO
ALTER TABLE [dbo].[PanelMembers]  WITH CHECK ADD  CONSTRAINT [UserDetails_PanelMembers] FOREIGN KEY([UserId])
REFERENCES [dbo].[UserDetails] ([UserId])
GO
ALTER TABLE [dbo].[PanelMembers] CHECK CONSTRAINT [UserDetails_PanelMembers]
GO
ALTER TABLE [dbo].[RateSkills]  WITH CHECK ADD  CONSTRAINT [Review_RateSkills] FOREIGN KEY([ReviewId])
REFERENCES [dbo].[Review] ([ReviewId])
GO
ALTER TABLE [dbo].[RateSkills] CHECK CONSTRAINT [Review_RateSkills]
GO
ALTER TABLE [dbo].[RateSkills]  WITH CHECK ADD  CONSTRAINT [Skills_RateSkills] FOREIGN KEY([SkillId])
REFERENCES [dbo].[Skills] ([SkillId])
GO
ALTER TABLE [dbo].[RateSkills] CHECK CONSTRAINT [Skills_RateSkills]
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD  CONSTRAINT [Schedule_Review] FOREIGN KEY([ScheduleId])
REFERENCES [dbo].[Schedule] ([ScheduleId])
GO
ALTER TABLE [dbo].[Review] CHECK CONSTRAINT [Schedule_Review]
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD  CONSTRAINT [Status_Review] FOREIGN KEY([StatusId])
REFERENCES [dbo].[Status] ([StatusId])
GO
ALTER TABLE [dbo].[Review] CHECK CONSTRAINT [Status_Review]
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD  CONSTRAINT [UserDetails_Review] FOREIGN KEY([ReviewedBy])
REFERENCES [dbo].[UserDetails] ([UserId])
GO
ALTER TABLE [dbo].[Review] CHECK CONSTRAINT [UserDetails_Review]
GO
ALTER TABLE [dbo].[Schedule]  WITH CHECK ADD  CONSTRAINT [CandidateDetails_Schedule] FOREIGN KEY([CandidateId])
REFERENCES [dbo].[CandidateDetails] ([CandidateId])
GO
ALTER TABLE [dbo].[Schedule] CHECK CONSTRAINT [CandidateDetails_Schedule]
GO
ALTER TABLE [dbo].[Schedule]  WITH CHECK ADD  CONSTRAINT [InterviewRounds_Schedule] FOREIGN KEY([InterviewRoundId])
REFERENCES [dbo].[InterviewRounds] ([InterviewRoundId])
GO
ALTER TABLE [dbo].[Schedule] CHECK CONSTRAINT [InterviewRounds_Schedule]
GO
ALTER TABLE [dbo].[Schedule]  WITH CHECK ADD  CONSTRAINT [Panel_Schedule] FOREIGN KEY([PanelId])
REFERENCES [dbo].[Panel] ([PanelId])
GO
ALTER TABLE [dbo].[Schedule] CHECK CONSTRAINT [Panel_Schedule]
GO
ALTER TABLE [dbo].[UserDetails]  WITH CHECK ADD  CONSTRAINT [Designation_UserDetails] FOREIGN KEY([DesignationId])
REFERENCES [dbo].[Designation] ([DesignationId])
GO
ALTER TABLE [dbo].[UserDetails] CHECK CONSTRAINT [Designation_UserDetails]
GO
ALTER TABLE [dbo].[UserDetails]  WITH CHECK ADD  CONSTRAINT [Roles_UserDetails] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
GO
ALTER TABLE [dbo].[UserDetails] CHECK CONSTRAINT [Roles_UserDetails]
GO
