<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Schedule Interview List</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta charset="utf-8">
      <link rel="stylesheet" type="text/css" href="../css/style.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   </head>
   <body>
      <div class="container-fluid" >
         <div  class="row content">
            <div class="responsive_bar"><i class="fa fa-bars"></i></div>
            <div id="navigation-app" class="col-xs-2 sidenav">
               <div id="logo_navs">
                  <img alt="crm"  src="../Assets/images/crm.png" class="img-responsive">
                  <div class="responsive_tag">
                     <i class="fa fa-arrow-left"></i>
                  </div>
               </div>
               <div id="logo_navs2">
                  <div class="dropdown">
                     <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                     Chithambaram<span class="glyphicon glyphicon-chevron-down"></span>
                     </button>
                     <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Logout</a>
                     </div>
                  </div>
               </div>
               <div id="nav_plate">
                  <nav class="navigation" >
                     <ul  class="nav nav-pills nav-stacked">
                        <li><a href="home.html">Candidate List</a></li>
                        <li><a href="schedule_interview.html">Schedule Interview</a></li>
                        <li  class="active"><a href="add_panel.html">Add Panel Member</a></li>
                        <li ><a href="add_custom.html">Add Custom</a></li>
                     </ul>
                  </nav>
               </div>
            </div>
            <section class="col-xs-12 col-md-10">
               <header class="jumbotron">
                  <h2>Add Panel Member </h2>
               </header>
               <div id="content_real">
                  <main id="content_layout">
                     <div class="add_panel_form">
                        <div class="form-group form-row">
                           <label class="control-label col-sm-2">Name</label>
                           <div class="col-sm-4">
                              <input type="text" class="form-control" id="Name"  name="Name" placeholder="Name">
                           </div>
                           <label class="control-label col-sm-2">Designation</label>
                           <div class="col-sm-4">
                              <input type="text" class="form-control" id="designation"  name="designation" placeholder="Designation">
                           </div>
                        </div>
                        <div class="form-group form-row">
                           <label class="control-label col-sm-2">Email</label>
                           <div class="col-sm-4">
                              <input type="text" class="form-control" id="email"  name="email" placeholder="Email">
                           </div>
                           <label class="control-label col-sm-2">Phone</label>
                           <div class="col-sm-4">
                              <input type="text" class="form-control" id="phone"  name="phone" placeholder="Phone" maxlength="10">
                           </div>
                        </div>
                        <div class="form-group form-row">
                           <label class="control-label col-sm-2">User Name</label>
                           <div class="col-sm-4">
                              <input type="text" class="form-control" id="username"  name="username" placeholder="User Name">
                           </div>
                           <label class="control-label col-sm-2">Password</label>
                           <div class="col-sm-4">
                              <input type="password" class="form-control" id="password"  name="password" placeholder="Password">
                           </div>
                        </div>
                        <div class="form-group col-md-12">
                           <button type="submit" class="btn btn-primary">Add Panel Member</button>
                        </div>
                     </div>
                  </main>
               </div>
            </section>
         </div>
      </div>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>	
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <script src="../js/script.js"></script>
   </body>
</html>