<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Add Custom</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta charset="utf-8">
      <link rel="stylesheet" type="text/css" href="../css/style.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   </head>
   <body>
      <div class="container-fluid" >
         <div class="row content">
            <div class="responsive_bar"><i class="fa fa-bars"></i></div>
            <div id="navigation-app" class="col-xs-2 sidenav">
               <div id="logo_navs">
                  <img alt="crm"  src="../Assets/images/crm.png" class="img-responsive">
                  <div class="responsive_tag">
                     <i class="fa fa-arrow-left"></i>
                  </div>
               </div>
               <div id="logo_navs2">
                  <div class="dropdown">
                     <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                     Chithambaram<span class="glyphicon glyphicon-chevron-down"></span>
                     </button>
                     <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Logout</a>
                     </div>
                  </div>
               </div>
               <div id="nav_plate">
                  <nav class="navigation" >
                     <ul  class="nav nav-pills nav-stacked">
                        <li><a href="home.html">Candidate List</a></li>
                        <li ><a href="schedule_interview.html">Schedule Interview</a></li>
                        <li ><a href="add_panel.html">Add Panel Member</a></li>
                        <li class="active"><a href="add_custom.html">Add Custom</a></li>
                     </ul>
                  </nav>
               </div>
            </div>
            <section class="col-xs-12 col-md-10">
               <header class="jumbotron">
                  <h2>Add Custom</h2>
               </header>
               <div id="content_real">
                  <main id="content_layout">
                     <div class="row tabs_shift">
                        <ul class="nav nav-tabs">
                           <li class="active"><a data-toggle="tab" href="#home">Add Custom Field</a></li>
                           <li><a data-toggle="tab" href="#menu1">Add Job Vacancy</a></li>
                           <li><a data-toggle="tab"  href="#menu2" class="selected_candidate">Manage Filer</a></li>
                           <li><a data-toggle="tab"  href="#menu3" class="selected_candidate">Add Panel</a></li>
                        </ul>
                     </div>
                     <div class="tab-content">
                        <div id="home" class="tab-pane fade in active row">
                           <div class="col-md-12">
                              <h4>Add Custom Fields</h4>
                              <form id="add_custom_form">
                                 <div class="form-row">
                                    <div class="form-group col-md-4">
                                       <label for="date">Label Name:</label>
                                    </div>
                                    <div class="form-group col-md-6">
                                       <input type="text" class="form-control col-md-4" id="custom_label">
                                    </div>
                                 </div>
                                 <div class="form-row">
                                    <div class="form-group col-md-4">
                                       <label for="date">Input Type:</label>
                                    </div>
                                    <div class="form-group col-md-6">
                                       <select class="form-control">
                                          <option value="">--Please Select--</option>
                                          <option value="1">Drop Down</option>
                                          <option value="2">Text</option>
                                          <option value="3">Text Area</option>
                                       </select>
                                    </div>
                                 </div>
                                 <div class="form-row">
                                    <div class="form-group col-md-4">
                                       <label for="date">Default Value:</label>
                                    </div>
                                    <div class="form-group col-md-6">
                                       <input type="text" class="form-control col-md-4" id="custom_default_value">
                                    </div>
                                 </div>
                                 <div class="form-row">
                                    <div class="form-group col-md-4">
                                       <label for="date">Acepted Value:</label>
                                    </div>
                                    <div class="form-group col-md-6">
                                       <select class="form-control">
                                          <option value="">--Please Select--</option>
                                          <option value="1">Numeric</option>
                                          <option value="2">String</option>
                                          <option value="3">Validation</option>
                                       </select>
                                    </div>
                                 </div>
                                 <div class="form-row">
                                    <div class="form-group col-md-12">
                                       <button type="submit" class="btn btn-primary">Save</button>
                                    </div>
                                 </div>
                              </form>
                           </div>
                        </div>
                        <div id="menu1" class="tab-pane fade">
                           <div class="col-md-12">
                              <h4>Add Job Vacancy</h4>
                              <form id="add_custom_form">
                                 <div class="form-row">
                                    <div class="form-group col-md-4">
                                       <label for="date">Position Title:</label>
                                    </div>
                                    <div class="form-group col-md-6">
                                       <input type="text" class="form-control col-md-4" id="custom_title">
                                    </div>
                                 </div>
                                 <div class="form-row">
                                    <div class="form-group col-md-4">
                                       <label for="date">Prefered Skills:</label>
                                    </div>
                                    <div class="form-group col-md-6">
                                       <select multiple="" class="form-control" id="schedule_interview_panel">
                                          <option>Html</option>
                                          <option>Css</option>
                                          <option>Cold-fusion</option>
                                       </select>
                                    </div>
                                 </div>
                                 <div class="form-row">
                                    <div class="form-group col-md-12">
                                       <button type="submit" class="btn btn-primary">Save</button>
                                    </div>
                                 </div>
                              </form>
                           </div>
                        </div>
                        <div id="menu2" class="tab-pane fade">
                           <h4>Manage Filters</h4>
                           <div class="top_tabelements row">
                              <div class="col-lg-5">
                                 <div class="row">
                                    <div class="col-sm-6">
                                       <form class="search_form row" action="action_page.php">
                                          <div class="col-md-4">
                                             <input type="text" placeholder="Search.." name="search">
                                          </div>
                                          <div class="col-md-6">
                                             <button type="submit"><i class="fa fa-search"></i></button>
                                          </div>
                                       </form>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <table class="table ">
                              <tbody>
                                 <tr>
                                    <th>Name</th>
                                    <th>Role</th>
                                    <th>Enable/Disable</th>
                                 </tr>
                                 <tr>
                                    <td>Category</td>
                                    <td>Admin</td>
                                    <td>
                                       <input type="checkbox" class="chck" checked>
                                    </td>
                                 </tr>
                                 <tr>
                                    <td>Category</td>
                                    <td>Admin</td>
                                    <td>
                                       <input type="checkbox" class="chck" checked>
                                    </td>
                                 </tr>
                                 <tr>
                                    <td>Category</td>
                                    <td>Admin</td>
                                    <td>
                                       <input type="checkbox" class="chck" checked>
                                    </td>
                                 </tr>
                                 <tr>
                                    <td>Category</td>
                                    <td>Admin</td>
                                    <td>
                                       <input type="checkbox" class="chck" checked>
                                    </td>
                                 </tr>
                              </tbody>
                           </table>
                           <ul class="pagination">
                              <li><a href="#">«</a></li>
                              <li><a href="#">1</a></li>
                              <li><a href="#">2</a></li>
                              <li class="active"><a href="#">3</a></li>
                              <li><a href="#">4</a></li>
                              <li><a href="#">5</a></li>
                              <li><a href="#">6</a></li>
                              <li><a href="#">»</a></li>
                           </ul>
                        </div>
                        <div id="menu3" class="tab-pane fade">
                           <h4>Add Panel</h4>
                           <div class="row">
                              <form id="add_custom_form">
                                 <div class="form-row">
                                    <div class="form-group col-md-4">
                                       <label for="date">Panel Name:</label>
                                    </div>
                                    <div class="form-group col-md-6">
                                       <input type="text" class="form-control col-md-4" id="custom_title">
                                    </div>
                                 </div>
                                 <div class="form-row">
                                    <div class="form-group col-md-4">
                                       <label for="date">Panel For Job:</label>
                                    </div>
                                    <div class="form-group col-md-6">
                                       <select  class="form-control" id="schedule_interview_panel">
                                          <option >--Please Selected--</option>
                                          <option >Coldfusion</option>
                                          <option >Php</option>
                                          <option>Angular</option>
                                       </select>
                                    </div>
                                 </div>
                                 <div class="form-row">
                                    <div class="form-group col-md-4">
                                       <label for="date">Interview Panel Members:</label>
                                    </div>
                                    <div class="form-group col-md-6">
                                       <select multiple="" class="form-control" id="schedule_interview_panel">
                                          <option>Ashok</option>
                                          <option>Gayathri</option>
                                          <option>Maximus</option>
                                       </select>
                                    </div>
                                 </div>
                                 <div class="form-row">
                                    <div class="form-group col-md-12">
                                       <button type="submit" class="btn btn-primary">Save</button>
                                    </div>
                                 </div>
                              </form>
                           </div>
                        </div>
                     </div>
                  </main>
               </div>
            </section>
         </div>
      </div>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>	
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <script src="../js/script.js"></script>
   </body>
</html>