<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css">
<select class="form-control" id="panel_members" multiple="true">
														<option value="1">Keerthi</option>
														<option value="2">Jeeva</option>
														<option value="3">Joseph</option>
														<option value="4">Ruby</option>
														<option value="5">Seena</option>
														<option value="6">Adharsh</option>
														<option value="7">James</option>
													</select>
													<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"></script>	
													<script>
$("#panel_members").select2({
		  placeholder: "Members"
		});
													</script>